---
import {getIcon} from '../data/icons'

const socials = [
    { label: 'Telegram', link: 'https://t.me/lazard_channel', icon: getIcon('telegram') },
    { label: 'Github', link: 'https://github.com/QuentinWidlocher', icon: getIcon('github') },
    { label: 'Twitter', link: 'https://twitter.com/Lazard_', icon: getIcon('twitter') },
    { label: 'LinkedIn', link: 'https://www.linkedin.com/in/quentin-widlocher/', icon: getIcon('linkedin') },
]


---

<ul class="flex flex-wrap text-white text-lg justify-center">
    {socials.map(social => (
        <li class="p-10 flex">
            <span class="mr-2">{social.icon}</span>
            <a href={social.link} class="hover:underline">{social.label}</a>
        </li>
    ))}
</ul>
