<div class="w-full h-screen -mb-40 -pb-40" style="background-image: url('/assets/hero-3-2.svg');">
    <div class="text-white text-center h-full w-full flex bg-sky-600 bg-opacity-90 pb-40">
        <div class="w-full my-auto py-10 bg-cyan-900 bg-opacity-25">
            <section class="flex flex-col justify-center">
                <img class="w-60 border-4 border-white rounded-full mx-auto" src="/assets/PhotoProfil.jpg" alt="">
                <div class="my-5" role="separator"></div>
                <h1 class="text-6xl">Quentin Widlocher</h1>
                <h2 class="text-xl mt-5">Web craftsman since 2016</h2>
            </section>
            <div class="my-20" role="separator"></div>
            <section>
            <div class="flex justify-center">
                    <button class="btn bg-gradient-to-tr from-sky-500 to-cyan-400 hover:shadow-primary-lg">See the repositories</button>
                    <div class="mx-4" role="separator"></div>
                    <a href="mailto:quentin@widlocher.com" class="btn border-4 border-sky-400 hover:shadow-primary-lg">Contact me</a>
                </div>
            </section>
        </div>
    </div>
</div>

<style>
.btn {
    @apply active:transform active:translate-y-px;
    @apply px-5 py-3 rounded;
    @apply font-bold;
}
</style>