<div class="w-full h-screen text-white text-center flex bg-gradient-to-tr from-primary-600 to-cyan-500 pb-40">
    <div class="w-full my-auto py-10">
        <section class="flex flex-col justify-center">
            <img class="w-60 rounded-full mx-auto" src="/assets/PhotoProfil.png" alt="">
            <div class="my-5" role="separator"></div>
            <h1 class="text-6xl">Quentin Widlocher</h1>
            <h2 class="text-xl mt-5">Web craftsman since 2016</h2>
        </section>
        <div class="my-20" role="separator"></div>
        <section>
        <div class="flex justify-center">
                <a href="#my-work" class="btn bg-gradient-to-tr from-sky-500 to-cyan-400 hover:shadow-primary-lg">See my work</a>
                <div class="mx-4" role="separator"></div>
                <a href="mailto:quentin@widlocher.com" class="btn border-4 border-sky-400 hover:shadow-primary-lg">Contact me</a>
            </div>
        </section>
    </div>
</div>

<style>
.btn {
    @apply active:transform active:translate-y-px;
    @apply px-5 py-3 rounded;
    @apply font-bold;
}
</style>